:root{
    --black-ff: #000000ff;
    --oxford-blue: #14213dff;
    --orange-web: #fca311ff;
    --platinum: #e5e5e5ff;
    --white: #ffffffff;
    
    --olive-green: #556B2F;
    --bordeaux: #800020;
    --slate-gray: #2F4F4F;
    --steel-blue: #4682B4;
    --mustard-yellow: #FFDB58;
    --rose-quartz: #F0DDDB;
}
