:root{
    --black-ff: #000000ff;
    --oxford-blue: #14213dff;
    --orange-web: #fca311ff;
    --light-platinum: #e5e5e5ff;
    --white: #ffffffff;
    
    --platinum: #cfdbd5ff;
    --alabaster: #e8eddfff;
    --saffron: #f5cb5cff;
    --eerie-black: #242423ff;
    --jet: #333533ff;

    --olive-green: #556B2F;
    --bordeaux: #800020;
    --slate-gray: #2F4F4F;
    --steel-blue: #4682B4;
    --mustard-yellow: #FFDB58;
    --rose-quartz: #F0DDDB;
}
